[Desktop Entry]
Name=Joseflix Request
Comment=Gestionar peticiones de películas y series
Exec=joseflix-launcher
Type=Application
Categories=AudioVideo;Video;
