[Desktop Entry]
Name=Joseflix Request
Comment=Gestionar peticiones de películas y series
Comment[en]=Manage movie and series requests
Exec=/usr/bin/joseflix-request
Icon=joseflix-request
StartupWMClass=joseflix-request
Type=Application
Categories=AudioVideo;Video;
Terminal=false
